# NEXTAUTH CONFIGURATION
# Run `openssl rand -base64 32` to generate a secret key
NEXTAUTH_SECRET=vUCA9smlNX5qbTKaLlwebPBaycyrayKA79Zr8koiL3M=

# Point this to your Synology NAS's local IP (e.g. http://192.168.1.100:3010)
NEXTAUTH_URL=http://localhost:3010

# EMAIL SERVICE CONFIGURATION (Nodemailer using Google App Password)
# 1. Go to your Google Account -> Security -> 2-Step Verification
# 2. Scroll to the bottom and click "App passwords"
# 3. Create a new one named "ResoLogix" and paste the 16-character code below without spaces.
EMAIL_USER=marcus.zou@gmail.com
EMAIL_PASS="hynh igvu umog fzlf"
EMAIL_FROM="ResoLogix <marcus.zou@gmail.com>"
